<!DOCTYPE html>
<html>	
<head>
	<title>Project</title>
	<link rel="stylesheet" type="text/css"
	href="/static/css/style.css ">
</head>
<body>


	<div class="container">
	<div class="box-1">
		<h1>Heat recovery system</h1>
		
	</div>
	<div class="choice">
		<ul>
<li><a href="/home">Home</a></li>
<li><a href="/list">Database</a></li>
</ul>
</div>

		<div class="box-2">
		<h1>Welcome</h1>
		<p>This page shows you the amount of money and energy that you saved with the heat recovery system</p>
	
</div>

	<div class="main">
		
		<h2>Saved money</h2>
		<img src="/static/ja.gif">
		<p>&euro;{{ totalmoneysaved }} saved</p>
	</div>
	<div class="sidebar">
		<h3>Saved energy</h3>	
			<img src="/static/151.gif">
			<p>{{ totalenergysaved }}</p>
			<p>It is recommended to just keep showering as long as you used to. This system recovers energy, although it takes more energy to shower than the system recovers. So, to help the environment it is recommended to shower the same time as you used to.</p>
	</div>
	</div>

<footer id="main-footer">
	<p>Copyright &copy Group 5 4WSU00</p>
</footer>

</body>
</html>
