<!doctype html>
<html>

<body>
    {{ saved }}
   <!-- <table border=1>
      <thead>
         <td>ID</td>
         <td>Cold Water</td>
         <td>Hot Water</td>
         <td>Flow</td>
         <td>Time</td>
         <td>Date</td>
         <td>Saved</td>
      </thead>

      {% for row in rows %}
      <tr>
         <td>{{row["id"]}}</td>
         <td>{{row["cold_water"]}}</td>
         <td> {{ row["hot_water"]}}</td>
         <td>{{row['flow']}}</td>
         <td>{{row['shower_time']}}</td>
         <td>{{row['date_time']}}</td>
         <td>{{row['money_saved']}}</td>
      </tr>
      {% endfor %}
   </table> -->

   <a href="/">Go back to home page</a>
</body>

</html>